.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
  position: absolute;
  top: 100%;
  width: 100%;
  a {
    font-size: 30px;
    color: $primary-color;
  }
  p {
    color: #6B6C6C;
  }
  .fas {
    color: #BF0F12;
  }  
}




