<h3>Congrats, you just bought a home in <span class="span-model">
<%= @order.product.title %></span></h3>
    <h3>From <span class="span-model">
    <%= @order.product.user.name %></span></h3>
    <h3>By the price of <span class="span-model">R$<%= @order.product.price %></span></h3>
    <p><%= link_to 'Back', products_path, class: 'btn btn-outline-light' %></p>