<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

  <!-- We need this line below for responsiveness! -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <!-- code a Hero / Banner section -->
  <div class="banner" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/German_garden_gnome.jpg/800px-German_garden_gnome.jpg);">
    <div class="container">
      <h1>Garden Gnome</h1>
      <p>O amor esta nas pequenas coisas</p>
      <a class="btn-primary" href="#">Cadastre-se</a>
    </div>
  </div>

  <!-- code a "How it works" section -->

  <div class="container">
    <h2 class="text-center">Quem somos</h2>
    <div class="cards">

      <div class="card">
        <img src="https://cdn-tp3.mozu.com/24484-36801/cms/36801/files/d856eee7-efd2-4523-bfb0-b65ca5d10152?maxWidth=350&_mzcb=_1589921744095" alt="">
        <h4>Distribuição</h4>
        <p>Somos os maiores distribuidores de Garden Gnome da América</p>
      </div>

      <div class="card">
        <img src="https://www.awesomeinventions.com/wp-content/uploads/2015/07/game-of-gnomes-garden-gnome-throne-373x310.jpg" alt="">
       <p>
        <h4>Uníco</h4>
        <p>Você imaginou, nós fazemos. Garden Gnomes personalisados</p>
      </div>

      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQl4wuAuk2mIvBPlnAnuNq4BG97QdJLp2hAHQXyUobbchdX9o-f&usqp=CAU" alt="">
        <h4>Compre, troque ou venda</h4>
        <p>Uma plataforma que respeita os baixinhos.</p>
      </div>

    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>Este site está sob domínio de <b>Gnonymous</b>.</p>

    </div>
  </div>

</body>
</html>